@import "./partials/breakpoints";
@import "./partials/fonts";
@import "./partials/flex_mixins";
@import "./partials/colors";
@import "./partials/header";
@import "./partials/events";
@import "./partials/influencers";
@import "./partials/miss-thang";
@import "./partials/footer";

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
