/* media query for tablet */
/* media query for high px density desktop */
@font-face {
  font-family: "AvenirRegular";
  src: url("../assets/font/AvenirNextLTProRegular.otf");
}

@font-face {
  font-family: "AvenirBold";
  src: url("../assets/font/AvenirNextLTProBold.otf");
}

@font-face {
  font-family: "AvenirDemi";
  src: url("../assets/font/AvenirNextLTProDemi.otf");
}

@font-face {
  font-family: "AvenirThin";
  src: url("../assets/font/AvenirNextLTProThin.otf");
}

.header {
  padding: 10px 16px 0;
}

.header__home-link {
  text-decoration: none;
}

.header__home-link--logo {
  margin-bottom: 150px;
}

.header__name {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
}

.header__name--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__name--container .subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .header {
    margin: 0 24px;
  }
  .header__home-link {
    text-decoration: none;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
  }
  .header__name {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
  }
  .header__name .subheader {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirDemi;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    margin: 0 180px;
  }
}

.events {
  margin: 24px 16px 0;
}

.events__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
}

.events__container--flex {
  padding: 0 16px;
  margin-bottom: 10px;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events__container--flex .left__title {
  margin: 5px 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
}

.events__container--flex .left__description {
  margin-bottom: 5px;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: AvenirDemi;
  font-family: AvenirRegular;
}

.events__container--flex .left__button {
  margin-bottom: 5px;
  border: 1px solid #353535;
}

.events__container--flex .left__button--text {
  padding: 10px 50px;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: AvenirDemi;
}

.events__container--flex .right__calendar {
  padding: 30px 10px;
}

@media only screen and (min-width: 768px) {
  .events {
    margin: 48px 24px 0;
  }
  .events__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
  }
  .events__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .events__container--flex {
    width: 100%;
  }
  .events__container--flex .left__title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirDemi;
  }
  .events__container--flex .left__description {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: AvenirDemi;
    font-family: AvenirRegular;
  }
  .events__container--flex .left__button {
    margin-bottom: 10px;
  }
  .events__container--flex .left__button--text {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-family: AvenirDemi;
  }
  .events__container .margin-right {
    margin-right: 10px;
  }
  .events__container .margin-left {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 1440px) {
  .events {
    margin: 50px 180px 0;
  }
  .events__title {
    margin-bottom: 30px;
  }
  .events__container--flex {
    height: 10vw;
  }
  .events__container--flex .left {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.influencers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 0px 16px;
}

.influencers__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.influencers__block--desktop {
  display: none;
}

.influencers__block--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40vw;
}

.influencers__block--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 30vw;
}

.influencer__photo {
  padding-right: 10px;
}

.location__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  padding-top: 10px;
}

.location__block--left {
  width: 40vw;
}

.menu__block {
  width: 100%;
}

.menu__block--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__block--desktop {
  display: none;
}

.menu__button {
  width: 100%;
  height: 20px;
}

@media only screen and (min-width: 768px) {
  .influencers__container {
    margin: 0px 24px;
    padding: 10px 16px 0;
    width: unset;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .influencers__influencers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .influencers__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .influencers__block--desktop {
    width: 60vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px;
  }
  .influencers__block--text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .influencers__block--left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    display: none;
  }
  .influencers__block--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 40vw;
  }
  .influencers__form {
    width: 100%;
  }
  .menu__block {
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
  .menu__block--mobile {
    display: none;
  }
  .menu__block--desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100vw;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .location__block {
    width: 40%;
  }
}

@media only screen and (min-width: 1440px) {
  .influencers__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding: 0px 180px;
  }
}

.prof-header {
  padding: 1.25rem 1rem;
  background-image: url("../assets/images/missthang-hero-m.jpg");
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 1.875rem 0.625rem;
          box-shadow: inset 0 0 1.875rem 0.625rem;
  width: 100%;
  height: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.prof-header__img {
  width: 3.75rem;
}

.prof-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.prof-header__container--title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
  color: #fff;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.prof-header__container--img {
  height: 3.125rem;
  width: 3.125rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main {
  margin: 0 1rem;
}

.main__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 1.25rem 0 1.875rem;
}

.main__rating--title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
}

.main__rating--stars {
  margin-left: 0.3125rem;
}

.main__rating--stars .size {
  height: 0.9375rem;
}

.main__content--title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: AvenirDemi;
  margin-bottom: 0.625rem;
}

.main__content--para {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: AvenirRegular;
}

.quote {
  margin: 0 1rem;
  text-align: center;
  padding: 2.5rem 1.5625rem;
}

.quote__text {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: AvenirBold;
  font-style: italic;
  color: #6eb308;
}

.heading {
  margin: 0 1rem;
}

.heading__txt {
  margin-bottom: 1.25rem;
}

.heading .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heading .holder__card {
  margin: 0.3125rem;
  border: 0.0625rem solid #353535;
  width: 7.5rem;
  height: 18.75rem;
}

@media only screen and (min-width: 768px) {
  .prof-header {
    margin: unset;
    padding: 0 1.5rem;
  }
  .prof-header__img {
    width: 6.25rem;
    height: 100px;
  }
  .prof-header__container {
    position: relative;
  }
  .prof-header__container--title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: AvenirBold;
    margin-bottom: 1.25rem;
  }
  .prof-header__container--img {
    height: 10rem;
    width: 10rem;
    position: absolute;
    bottom: -5rem;
    right: 1.5rem;
  }
  .main__rating {
    margin: 2.5rem 1.5rem 3.75rem;
  }
  .main__rating--title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirDemi;
  }
  .main__rating--stars {
    margin-left: 0.625rem;
  }
  .main__rating--stars .size {
    height: 1.25rem;
  }
  .main__content {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  .main__content--title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirDemi;
    margin-bottom: 1.25rem;
  }
  .main__content--para {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-family: AvenirRegular;
    width: 70vw;
  }
  .quote {
    margin: 0 1.5rem;
    text-align: center;
    padding: 2.5rem 1.5625rem;
  }
  .quote__text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: AvenirBold;
  }
}

@media only screen and (min-width: 1440px) {
  .prof-header__container--title {
    margin-left: 11.25rem;
    position: relative;
  }
  .prof-header__container--img {
    position: absolute;
    right: 11.25rem;
  }
  .main__rating {
    margin: 2.5rem 11.25rem 3.75rem;
  }
  .main__rating--title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: AvenirDemi;
  }
  .main__rating--stars {
    margin-left: 0.625rem;
  }
  .main__content {
    margin-right: 11.25rem;
    margin-left: 11.25rem;
  }
  .main__content--title {
    margin-bottom: 1.25rem;
  }
  .quote {
    margin: 0 11.25rem;
    text-align: center;
    padding: 3.75rem 2.8125rem;
  }
  .quote__text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: AvenirBold;
  }
}

.footer {
  background-color: #d7dc4a;
  height: 30vw;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */