@import "./partials/breakpoints";
@import "./partials/fonts";
@import "./partials/flex_mixins";
@import "./partials/colors";
@import "./partials/universal_styles";
@import "./partials/header";
@import "./partials/events";
@import "./partials/influencers";
<<<<<<< HEAD
@import "./partials/miss-thang";
@import "./partials/footer";
=======
@import "./partials/offers";
>>>>>>> 87802ac40ef0c874323ea456d2281747161c0ca2

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
