@import "./partials/breakpoints";
@import "./partials/fonts";
@import "./partials/flex_mixins";
@import "./partials/colors";
@import "./partials/header";
@import "./partials/events";

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
